<ion-content [fullscreen]="true">
  <!-- Nav Bar -->

  <div>
    <ion-img class="card-image round-edge" src="../../../assets/products/login-banner.png"></ion-img>
    <ion-grid>
      <ion-row>
        <ion-col class="animate__animated animate__fadeIn animate__faster">
          <ion-text color="dark">
            <h1 class="head ion-text-center" color="dark">{{ 'LOGIN' | translate }}</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="padding">
      <ion-item class="form-input">
        <ion-input type="text" placeholder="{{ 'Full name' | translate }}"></ion-input>
      </ion-item>
      <ion-item class="form-input">
        <ion-input type="passowrd" placeholder="{{ 'Password' | translate }}"></ion-input>
      </ion-item>
      <ion-button class="btn-submit" shape="round" routerLink="/dashboard" size="large" class="ion-text-capitalize medium ion-margin-top"
        expand="full">{{ 'LOGIN' | translate }}</ion-button>
    </ion-grid>
    <h6 class="ion-text-center">Forgot password?</h6>
  </div>
</ion-content>