<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="1">
          <ion-icon routerLink="/home" name="arrow-back-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title>{{ 'Services' | translate }}</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="bac-white">
<div class="padding">
<h1>{{ 'Service details' | translate }}</h1>
<ion-grid class="service-tag">
  <ion-row class="d-flex align-items-center">
    <ion-col size="8">
      <h4>Accident service</h4>
      <ion-row>
        <ion-col>
          <h5>Work order</h5>
          <h6>8564485</h6>
        </ion-col>
        <ion-col>
          <h5>Work order</h5>
          <h6>8564485</h6>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="ion-text-right">
      <div class="icn-bac">
        <ion-img class="card-image round-edge" src="../../../assets/products/caricon.svg"></ion-img>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<h3>{{ 'Vehicle details' | translate }}</h3>
<ion-grid>
  <ion-row>
    <ion-col>
      <h5>Made</h5>
      <h6>Mitsubishi</h6>
    </ion-col>
    <ion-col>
      <h5>Made</h5>
      <h6>Mitsubishi</h6>
    </ion-col>
    <ion-col>
      <h5>Made</h5>
      <h6>Mitsubishi</h6>
    </ion-col>
    <ion-col>
      <h5>Made</h5>
      <h6>Mitsubishi</h6>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row class="d-flex align-items-center">
    <ion-col>
      <span class="sts">{{ 'Status' | translate }}</span>
      <span class="sts-result">{{ 'Pending' | translate }}</span>
    </ion-col>
    <ion-col class="ion-text-right">
      <ion-list>
        <ion-item>
          <ion-label>{{ 'Is vehicle received?' | translate }}</ion-label>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<h3>{{ 'Upload Files' | translate }}</h3>
<div class="list-bar">
  <h6 class="pt-15">{{ 'Work order' | translate }}</h6>
  <ion-grid class="upload-grid animate__animated animate__fadeIn animate__faster">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide class="x-small-card">
        <ion-col>
          <img class="uploaded-img" src="../../../assets/products/car.jpg" />
        </ion-col>
      </ion-slide>
      <ion-slide class="x-small-card">
        <ion-col>
          <img class="uploaded-img" src="../../../assets/products/car.jpg" />
        </ion-col>
      </ion-slide>
      <ion-slide class="x-small-card">
        <ion-col>
          <div class="file-upload">
            <ion-input type="file" accept="image/*" id="upload" class="file-type"></ion-input>
            <ion-icon name="add-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</div>
<div class="list-bar">
  <h6>{{ 'Quotation' | translate }}</h6>
  <ion-grid class="upload-grid animate__animated animate__fadeIn animate__faster">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide class="x-small-card">
        <ion-col>
          <img class="uploaded-img" src="../../../assets/products/car.jpg" />
        </ion-col>
      </ion-slide>
      <ion-slide class="x-small-card">
        <ion-col>
          <img class="uploaded-img" src="../../../assets/products/car.jpg" />
        </ion-col>
      </ion-slide>
      <ion-slide class="x-small-card">
        <ion-col>
          <div class="file-upload">
            <ion-input type="file" accept="image/*" id="upload" class="file-type"></ion-input>
            <ion-icon name="add-outline"></ion-icon>
          </div>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </ion-grid>
</div>
<div class="list-bar">
  <h6>{{ 'Vehicle' | translate }}</h6>
 <ion-grid class="upload-grid animate__animated animate__fadeIn animate__faster">
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide class="x-small-card">
      <ion-col>
        <img class="uploaded-img" src="../../../assets/products/car.jpg" />
      </ion-col>
    </ion-slide>
    <ion-slide class="x-small-card">
      <ion-col>
        <img class="uploaded-img" src="../../../assets/products/car.jpg" />
      </ion-col>
    </ion-slide>
    <ion-slide class="x-small-card">
      <ion-col>
        <div class="file-upload">
          <ion-input type="file" accept="image/*" id="upload" class="file-type"></ion-input>
          <ion-icon name="add-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-slide>
  </ion-slides>
</ion-grid>
</div>
</div>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button color="primary" routerLink="/servicedetails" size="large" class="ion-text-capitalize" expand="full"
  shape="round">{{ 'SEND' | translate }}</ion-button>
</ion-footer>